.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate-clockwise(360deg);
  }
}

@keyframes Car-flash {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.Car {
  max-width: 500px;
  border: 1px solid darkgrey;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px black;

}

.flex-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cars {
  font-size: 5rem;
  animation: Car-flash infinite 500ms linear alternate;
  display: inline-block;
}

/* .left {
  transform: rotate(315deg);
}

.left {
  animation: Car-flash infinite 500ms linear alternate;
} */